@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Darkcyan: hsl(185, 75%, 39%);
  --Verydarkdesaturatedblue: hsl(229, 23%, 23%);
  --Darkgrayishblue: hsl(227, 10%, 46%);
  --Darkgray: hsl(0, 0%, 59%);
}
body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: var(--Darkcyan);
}
.container {
  overflow: hidden;
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}
.bg-top {
  width: 80%;
  height: fit-content;
  position: absolute;
  top: -38em;
  left: -19em;
}
.bg-top img {
  width: 90%;
}

.bg-bottom {
  width: 80%;
  height: fit-content;
  position: absolute;
  bottom: -46em;
  right: -23em;
}
.bg-bottom img {
  width: 90%;
}
.card {
  width: 350px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  text-align: center;

  flex-direction: column;
  z-index: 1;
}
.card > .top {
  width: 100%;
  height: 150px;
  background: url(./images/bg-pattern-card.svg);
  border-radius: 10px 10px 0 0;
}
.card .card-img {
  position: relative;
  border-radius: 50%;
  border: 5px solid white;
  top: -50px;
}
.card h1 {
  position: relative;
  top: -30px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  font-family: "Kumbh Sans", sans-serif;
}
small {
  color: var(--Darkgray);
  font-weight: 400;
  font-family: "Kumbh Sans", sans-serif;
}
.card h2 {
  position: relative;
  text-align: center;
  top: -15px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Kumbh Sans", sans-serif;
}
table {
  margin: auto;
  padding: 20px 0;
  margin-top: 10px;
  border-top: 1px solid var(--Darkgray);
}
thead {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}
table td {
  padding: 0 26px;
}

table body td {
  font-weight: 400;
  color: var(--Darkgrayishblue);
}
